* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0f1129;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.content {
  position: relative;
  z-index: 10;
  text-align: center;
  color: white;
  padding: 20px;
}

.title {
  font-size: 4rem;
  color: #1da1f2;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  color: #3a7ca5;
  margin-bottom: 30px;
}

.contact-btn {
  background-color: #1da1f2;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #0d8ddb;
}

/* Style dla animowanych spanów */
.background span {
  width: 50vmin;
  height: 50vmin;
  border-radius: 50vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



.background span:nth-child(1) {
  color: #4dffc3;
  top: 54%;
  left: 20%;
  animation-duration: 27s;
  animation-delay: -25s;
  transform-origin: -7vw 4vh;
  box-shadow: -100vmin 0 12.8vmin currentColor;
}
.background span:nth-child(2) {
  color: #4dffc3;
  top: 7%;
  left: 37%;
  animation-duration: 42s;
  animation-delay: -26s;
  transform-origin: 19vw 20vh;
  box-shadow: -100vmin 0 13.2vmin currentColor;
}
.background span:nth-child(3) {
  color: #70d4ff;
  top: 26%;
  left: 9%;
  animation-duration: 38s;
  animation-delay: -5s;
  transform-origin: 21vw -15vh;
  box-shadow: 100vmin 0 12.6vmin currentColor;
}


