* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Tło jest tworzone przez Vanta.js, więc nie ustawiamy background */
}

.title {
  font-size: 4rem;
  color: #1da1f2;
  position: relative;
  z-index: 1;
}

.subtitle {
  font-size: 1.2rem;
  color: #3a7ca5;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.contact-btn {
  background-color: #1da1f2;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 1;
}

.contact-btn:hover {
  background-color: #0d8ddb;
}
